PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/cognitive-campus
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=24h
REDIS_URL=redis://localhost:6379
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=your_judge0_key_here
CLIENT_URL=http://localhost:5173
